<div class="container">
    <form>
        <div class="form-group">
            <label for="inputNome">Nome:</label>
            <input type="email" class="form-control" id="inputNome" aria-describedby="inputNomeHelp">
            <small id="inputNomeHelp" class="form-text text-muted">Obrigatorio informar o nome do agrupamento</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="CheckAgrupamentoAtivo">
            <label class="form-check-label" for="CheckAgrupamentoAtivo">Ativo</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>