<div class="container">
    <app-breadcrumb class="m-4" [items]="items"></app-breadcrumb>
    <app-page-title [Title]="Title"></app-page-title>
    <div class="m-5 p-5">
        <form [formGroup]="formAgroupCarteira" (ngSubmit)="OnSubmit()">
            <div class="form-group col-md-4">
                <label for="inputCodigo">Código:</label>
                <dx-text-box formControlName="Codigo" placeholder="" [readOnly]=true>
                </dx-text-box>
            </div>
            <div class="form-group col-8 ">
                <label for="inputNome">Nome:</label>
                <dx-text-box formControlName="Nome" placeholder="">
                </dx-text-box>
            </div>
            <div class="col-md-6">
                <div>
                    <small *ngIf="this.controls.Nome.errors?.required" id="inputNomeHelp" class="text-danger">
                        Obrigatorio informar o nome do carteira.
                    </small>
                </div>
                <div>
                    <small *ngIf="this.controls.Nome.errors?.maxlength" id="inputNomeHelp" class="text-danger">
                        O Nome do carteira excedeu a quantidade de caracteres.
                    </small>
                </div>
                <div>
                    <small *ngIf="this.controls.Nome.errors?.pattern" id="inputNomeHelp" class="text-danger">
                        Caracteres especiais e alfanumericos não são permitidos.
                    </small>
                </div>
            </div>
            <div class="form-group form-row m-3">
                <dx-check-box formControlName="Ativo"></dx-check-box>
                <div class="ml-2"><label class="form-check-label" for="CheckAgrupamentoAtivo">Ativo</label></div>
            </div>
            <div class="form-row mt-2 col-md-6">
                <div class="form-group">
                    <button type="reset" class="btn btn-primary">Limpar</button>
                </div>
                <div class="form-group col-md-3">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>