<div class="container-fluid">
    <div class="container">
        <app-loading [loading]="loading"></app-loading>
        <app-breadcrumb class="m-4" [items]="items"></app-breadcrumb>
        <app-page-title [Title]="Title"></app-page-title>
    </div>
    <div class="m-5 p-5">

        <dx-chart id="chart" title="Gastos por Ano" [dataSource]="populationData">
            <dxo-legend [visible]="false"></dxo-legend>
            <dxi-series type="bar"></dxi-series>
            <dxo-export [enabled]="true"></dxo-export>
            <dxo-argument-axis [tickInterval]="10">
                <dxo-label>
                    <dxo-format type="decimal"></dxo-format>
                </dxo-label>
            </dxo-argument-axis>
        </dx-chart>

        <div class="form-row">

            <div class="m-2">
                <dx-pie-chart id="pie" type="doughnut" title="Gastos do dia" palette="Soft Pastel"
                    [dataSource]="populationByRegions">
                    <dxi-series argumentField="agrupamento" valueField="valor">
                        <dxo-label [visible]="true" format="decimal">
                            <dxo-connector [visible]="true"></dxo-connector>
                        </dxo-label>
                    </dxi-series>
                    <dxo-export [enabled]="true"></dxo-export>
                    <dxo-legend [margin]="0" horizontalAlignment="right" verticalAlignment="top"></dxo-legend>
                    <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip" format="decimal">
                    </dxo-tooltip>
                </dx-pie-chart>
            </div>

            <div class="m-2">
                <dx-pie-chart id="pie" type="doughnut" title="Gastos da semana" palette="Soft Pastel"
                    [dataSource]="populationByRegions">
                    <dxi-series argumentField="agrupamento" valueField="valor">
                        <dxo-label [visible]="true" format="decimal">
                            <dxo-connector [visible]="true"></dxo-connector>
                        </dxo-label>
                    </dxi-series>
                    <dxo-export [enabled]="true"></dxo-export>
                    <dxo-legend [margin]="0" horizontalAlignment="right" verticalAlignment="top"></dxo-legend>
                    <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip" format="decimal">
                    </dxo-tooltip>
                </dx-pie-chart>
            </div>

            <div class="m-2">
                <dx-pie-chart id="pie" type="doughnut" title="Gastos do mês" palette="Soft Pastel"
                    [dataSource]="populationByRegions">
                    <dxi-series argumentField="agrupamento" valueField="valor">
                        <dxo-label [visible]="true" format="decimal">
                            <dxo-connector [visible]="true"></dxo-connector>
                        </dxo-label>
                    </dxi-series>
                    <dxo-export [enabled]="true"></dxo-export>
                    <dxo-legend [margin]="0" horizontalAlignment="decimal" verticalAlignment="top"></dxo-legend>
                    <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip" format="decimal">
                    </dxo-tooltip>
                </dx-pie-chart>
            </div>

        </div>
        <div class="form-row">

            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>

        </div>

    </div>
</div>