<div class="container">
    <app-loading [loading]="loading"></app-loading>
    <app-breadcrumb class="m-4" [items]="items"></app-breadcrumb>
    <app-page-title [Title]="Title"></app-page-title>
    <div class="m-5 p-5">
        <form [formGroup]="formAgroupMovimentacao" (ngSubmit)="OnSubmit()">

            <div class="form-group col-md-4">
                <label for="inputCodigo">Código:</label>
                <dx-text-box formControlName="Codigo" [readOnly]="true" placeholder="" readonly>
                </dx-text-box>
            </div>

            <div class="form-group col-5">
                <label for="inputAgrupamento">Agrupamento:</label>
                <dx-drop-down-box [class.is-invalid]="true" formControlName="CodAgrupamento"
                    placeholder="Selecione um grupo..." [showClearButton]="true">
                </dx-drop-down-box>
            </div>
            <div class="form-group col-5">
                <label for="inputCarteira">Carteira:</label>
                <dx-drop-down-box [class.is-invalid]="true" formControlName="CodCarteira"
                    placeholder="Selecione um grupo..." [showClearButton]="true">
                </dx-drop-down-box>
            </div>
            <div class="form-group col-5">
                <label for="inputDescricao">Descrição:</label>
                <dx-text-box formControlName="Descricao" placeholder="Descrição da movimentação...">
                </dx-text-box>
            </div>
            <div class="form-group col-2">
                <label for="inputDescricao">Data:</label>
                <dx-date-box formControlName="DataMovimentacao" type="date">
                </dx-date-box>
            </div>
            <div class="form-group col-2">
                <label for="inputDescricao">Valor:</label>
                <dx-text-box formControlName="Valor" placeholder="">
                </dx-text-box>
            </div>
            <div class="form-group col-2">
                <dx-check-box formControlName="Pago" text="Pago">
                </dx-check-box>
            </div>
            <div class="form-row mt-2 col-md-2">
                <div class="form-group">
                    <button type="reset" class="btn btn-primary">Limpar</button>
                </div>
                <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>